.contacto {
   display: flex;
   align-items: center;
   padding: 2rem;
   max-height: 100vh;
}

form {
   display: flex;
   flex-direction: column;
   padding: 50px 50px;
   box-shadow: 0 0 20px rgb(130, 126, 126);
   border-radius: 15px;
   border: 2px solid white;
   min-width: 600px;
   max-width: 600px;
   max-height: 600px;
   background-color: rgb(243, 240, 240);
}

.input-group {
   display: flex;
   flex-direction: column;
   text-align: left;
}

label {
   color: rgba(128, 128, 128, 0.659);
   font-size: 18px;
   font-weight: 500;
   margin-bottom: 10px;
}

.contacto-title {
   color: rgb(56, 57, 57);
}

.form-txt {
   text-align: center;
   padding: 1rem;
}

.btn {
   max-width: 600px;
   text-align: center;
   background-color: rgba(167, 163, 164, 0.901);
   border-radius: 5px;
   background-color: rgb(221, 212, 213);
}

.parrafos-contacto {
   color: white;
   max-height: 100vh;
   padding: 2rem;
   font-weight: 400;
   font-family: var(--ff-text);
}

.contactate {
   text-align: center;
}