.index {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 10em;
}

body {
   background-image: url(../img/fondo5.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   display: grid;
   gap: 1rem;
   
   
}