.nosotros {
    display: flex;
    align-items: center;
    padding: 2rem;
    margin-top: 10vh;

}

.nosotros-title {
    padding: 2em;

}

.parrafos-nosotros {
    padding: 2em;
    width: 800px;
    height: 275px;
    font-size: 14px;
    text-align: justify;

}

.parrafo1 {
    padding: 1em;
}