.contenedor1 {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.nosotros {
    display: flex;
    align-items: center;
    padding: 4rem;
}

.nosotros-title {
    padding: 2em;
}

.parrafo1 {

    padding: 4em;
    font-size: 14px;
    text-align: left;
    color: white;
}